@model BookShoppingProject_Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Product.Id != 0 ? "EDIT PRODUCT" : "NEW PRODUCT";
}
<div class="row">
    <h3 class="text-primary">@title</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="None" class="text-danger"></div>
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Product.Id" />
            }
            <div class="form-group">
                <label asp-for="Product.Title"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ISBN"></label>
                <input asp-for="Product.ISBN" class="form-control" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Discription"></label>
                <textarea asp-for="Product.Discription" class="form-control"></textarea>
                <span asp-validation-for="Product.Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price50"></label>
                <input asp-for="Product.Price50" class="form-control" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price100"></label>
                <input asp-for="Product.Price100" class="form-control" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                @Html.DropDownListFor(m => Model.Product.CategoryId, Model.CategoryList, "Select Category", new { @class = "form-control" })
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CoverTypeId"></label>
                @Html.DropDownListFor(m => Model.Product.CoverTypeId, Model.CoverTypeList, "Select CoverType", new { @class = "form-control" })
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>
            <div class="form-group p-2 ">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" id="uploadbox" name="files" multiple class="form-control" />
            </div>
            @if (Model.Product.Id != 0)
            {
                <partial name="_EditAndBackToListButton" />
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <button type="submit" onclick="return Valdata()" class="btn btn-outline-danger form-control">CREATE</button>
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-outline-primary form-control">BACK TO LIST</a>
                    </div>
                </div>
            }
        </form>
    </div>
    <div class="col-md-4 offset-1">
        @if (Model.Product.Id != 0)
        {
            <img src="@Model.Product.ImageUrl" />
        }
    </div>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/yceb7wqr2ps5v3vunieemb9syejgjl73j210uk6duakmo75e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "lists",
            menubar: "file edit format"
        })
        function Valdata() {
            if (document.getElementById('uploadbox').value =="")
            {
                swal("Error", "Please select image!!", "error");
            }
        }
    </script>
}
